@import "tailwindcss";

:root {
  --background: #29262c;
  --foreground: #212136;
  --primary: #5c5bc0;
  --secondary: rgb(72, 71, 120);
  --text: white;
  --width_grow: width_grow 1.2s ease-in-out forwards;
}

@font-face {
  font-family: VT323;
  src: url("../public/fonts/VT323/VT323-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../public/fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-width_grow: var(--width_grow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--white);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Montserrat;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  color: var(--text);
  background-color: var(--background);
  overflow: hidden;
  top: 0;
  left: 0;
}

.background::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 100%;
  inset: 0;
  /* mask-image: radial-gradient(white, transparent 90%); */
  mask-image: linear-gradient(190deg, white, transparent 70%);
  background: conic-gradient(
      from 90deg at 1px 1px,
      transparent 90deg,
      var(--secondary) 0
    )
    0 0/60px 60px;
  opacity: 0.4;
  z-index: 0;
}

.background > * {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .background::after {
    background: conic-gradient(
        from 90deg at 1px 1px,
        transparent 90deg,
        var(--secondary) 0
      )
      0 0/32px 32px;
  }
}

.scroller {
  padding-right: 4px;
}

.scroller::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
  cursor: pointer;
}

audio {
  filter: brightness(0) invert(1);
}

@keyframes width_grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.ai-glow-spill-mask {
  mask-image: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    transparent 50%,
    black 100%
  );
}
